.git
bin
obj
*.user
*.suo
.vs
StudentAssistant.Bot/bin
StudentAssistant.Bot/obj
StudentAssistant.Data/bin
StudentAssistant.Data/obj
StudentAssistant.Service/bin
StudentAssistant.Service/obj
StudentAssistant.Domain/bin
StudentAssistant.Domain/obj
StudentAssistant.WebApi/bin
StudentAssistant.WebApi/obj
StudentAssistant.Tests/bin
StudentAssistant.Tests/obj
*.db
*.db-shm
*.db-wal
